@model Web_Store.Models.Database1Entities2

@{
    ViewBag.Title = "additem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Item</h2>



@*<form action="/Admin/add" method="post">*@

@*Product Name <input type="text" name="name" />
Product Category  <input type="text" name="cat" />
Product Price <input type="text" name="price" />

<input type="button" value="Add" />*@



    <legend ><p align="center">Add Product</p></legend><br /><br />
<div class="container" id="wrap">
	  <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form action="/Admin/additem" method="post" accept-charset="utf-8" class="form" role="form"> 
                  
                 
                    <div class="row">
                        <div class="col-xs-6 col-md-6">
                            <input type="text" name="name" value="" id="name" class="form-control input-lg" placeholder="Product Name"  /> <input type="button" id="b1" value="Check" />
                             <div id="result"></div>                       </div>
               

               <div class="col-xs-6 col-md-6">
                     <input type="text" name="cat" value="" class="form-control input-lg" placeholder="category"  /></div>
            
                
                <div class="col-xs-6 col-md-6">
                        <div class="editor-field"  >
           <div class="col-xs-6 col-md-6">
                     <input type="text" name="price" value="" class="form-control input-lg" placeholder="price"  /></div>
            
                
                       
                        <span class="help-block">By clicking Create Add, Product will added.</span>
                    <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                        Add Product</button>
            </form>          
          </div>
</div>            
</div>



