@model Web_Store.Models.Product

@{
    ViewBag.Title = "updateitem";
}

<h2>updateitem</h2>

<form action="/Admin/update" method="post">

   ID <br />
    <input type="text" name="id" /><br />
    <input type="submit" value="Update" />

</form>