@model Web_Store.Models.Product


@{
    Layout="~/Views/Shared/_Layout.cshtml";
}




<div id="templatemo_wrapper">
	
      <div id="templatemo_middle">
    	<img src="~/images/templatemo_image_01.png" alt="Image 01" />
    	<h1>Online Shopping Store</h1>
        <p><a href="http://www.templatemo.com" target="_parent">Online Shopping</a> is a free online shopping store from where you can buy goods of different categories.</p>
        <a href="#" class="buy_now">Browse All Products</a>
    </div>
     <!-- END of middle -->
    
    <div id="templatemo_main_top"></div>
    <div id="templatemo_main">
    	<div id="product_slider">
    		<div id="SlideItMoo_outer">	
                <div id="SlideItMoo_inner">			
                    <div id="SlideItMoo_items">
                        <div class="SlideItMoo_element">
                                <a href="http://www.templatemo.com/page/1" target="_parent">
                                <img src="~/images/01.7.jpg" alt="product 1" /></a>
                        </div>	
                        <div class="SlideItMoo_element">
                                <a href="http://www.templatemo.com/page/2" target="_parent">
                                <img src="~/images/01.3.jpg" alt="product 2" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="http://www.templatemo.com/page/3" target="_parent">
                                 <img src="~/images/05.5.jpg" alt="product 3" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="http://www.templatemo.com/page/4" target="_parent">
                                <img src="~/images/14.jpg" alt="product 4" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="http://www.templatemo.com/page/5" target="_parent">
                               <img src="~/images/01.1.jpg" alt="product 5" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="http://www.templatemo.com/page/6" target="_parent">
                                <img src="~/images/16.jpg" alt="product 6" /></a>
                        </div>
                        <div class="SlideItMoo_element">
                                <a href="http://www.templatemo.com/page/6" target="_parent">
                                <img src="~/images/17.jpg" alt="product 7" /></a>
                        </div>
                    </div>			
                </div>
            </div>
            <div class="cleaner"></div>
        </div>
        
        <div id="sidebar">
        	
            <ul class="sidebar_menu">
            <h3 >Categories</h3>
            <ul class="sidebar_menu">
			    <li><a href="/Home/dressing">Dressing</a></li>
                <li><a href="/Home/electronics">Laptop</a></li>				
                <li><a href="/Home/assessories">Caps</a></li>
                <li><a href="/Home/watches">Watches</a></li>				
            	<li><a href="/Home/jewellery">Camera</a></li>
			</ul>
			</ul>
           
        </div> <!-- END of sidebar -->
        
        <div id="content">
        	<div class="col col_14 product_gallery">
            	<a href="/Home/productdetail"><img src="~/images/01.3.jpg" alt="Product 01" /></a>
                <h3>C1</h3>
                <p class="product_price">$ 100</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
            <div class="col col_14 product_gallery">
            	<a href="/Home/productdetail"><img src="~/images/02.3.jpg" alt="Product 02" /></a>
                <h3>C2</h3>
                <p class="product_price">$ 200</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
            <div class="col col_14 product_gallery no_margin_right">
            	<a href="/Home/productdetail"><img src="~/images/03.3.jpg" alt="Product 03" /></a>
                <h3>C3</h3>
                <p class="product_price">$ 120</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
            <div class="col col_14 product_gallery">
            	<a href="/Home/productdetail"><img src="~/images/04.3.jpg" alt="Product 04" /></a>
                <h3>C4</h3>
                <p class="product_price">$ 260</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
            <div class="col col_14 product_gallery">
            	<a href="/Home/productdetail"><img src="~/images/05.3.jpg" alt="Product 05" /></a>
                <h3>C5</h3>
                <p class="product_price">$ 80</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
            <div class="col col_14 product_gallery no_margin_right">
            	<a href="/Home/productdetail"><img src="~/images/06.3.jpg" alt="Product 06" /></a>
                <h3>C6</h3>
                <p class="product_price">$ 193</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
            <div class="col col_14 product_gallery">
            	<a href="/Home/productdetail"><img src="~/images/07.3.jpg" alt="Product 07" /></a>
                <h3>C7</h3>
                <p class="product_price">$ 30</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
            <div class="col col_14 product_gallery">
            	<a href="/Home/productdetail"><img src="~/images/08.3.jpg" alt="Product 08" /></a>
                <h3>C8</h3>
                <p class="product_price">$ 220</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
            <div class="col col_14 product_gallery no_margin_right">
            	<a href="/Home/productdetail"><img src="~/images/09.3.jpg" alt="Product 09" /></a>
                <h3>C9</h3>
                <p class="product_price">$ 65</p>
                <a href="/Home/shoppingcart" class="add_to_cart">Add to Cart</a>
            </div>        	
        </div> <!-- END of content -->
        <div class="cleaner"></div>
    </div> <!-- END of main -->
    
    <div id="templatemo_footer">
		<center>
			Copyright ©  BSEF11A028 | Designed by <a href="/Home/contact" target="_parent">Contact</a>
		</center>
    </div> <!-- END of footer -->   
   
</div>
